project-dog-classification/.ipynb_checkpoints
project-dog-classification/dogImages
project-dog-classification/dogImages.zip
project-dog-classification/haarcascades
project-dog-classification/images
project-dog-classification/lfw
project-dog-classification/lfw.tgz
project-dog-classification/ownDog
project-dog-classification/ownSelfies

project-tv-script-generation/.ipynb_checkpoints
project-tv-script-generation/__pycache__
project-tv-script-generation/data
project-tv-script-generation/trained_rnn.pt


project-face-generation/.ipynb_checkpoints
project-face-generation/__pycache__
project-face-generation/processed-celeba-small.zip
project-face-generation/processed_celeba_small/
project-face-generation/assets
project-face-generation/train_samples.pkl
project-face-generation/__MACOSX
